{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./"
				]
			}
		]
	],
	"env": {
		"test": {
			"plugins": [
				"@babel/plugin-transform-runtime"
			]
		}
	}
}